@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src: url("../fonts/webfonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../fonts/ttf/Vazirmatn-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  direction: rtl;
}

body {
  background: #050816;
  color: white;
  font-family: "Vazirmatn", sans-serif;
}